[Locations]
script_file = ./pokebot_trainer.py
requirements_file = ./requirements.txt

# Name of the bot in-game
name = Pokebot Trainer

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = tarehart

# Programming language
language = python
